# ==========================
# 1. CLion & IDE 特有配置
# ==========================
.idea/
.vscode/
*.swp
*.swo
my_backup/
my_data/

# ==========================
# 2. CMake 构建产物 (CLion 默认生成的文件夹)
# ==========================
cmake-build-*/
build/
bin/
lib/
CMakeCache.txt
CMakeFiles/
Makefile
*.cmake
install_manifest.txt

# ==========================
# 3. 编译中间文件 & 可执行文件
# ==========================
*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll
*.exe
*.out
*.app

# ==========================
# 4. 系统垃圾文件 (防止队友是 Mac/Windows 混用)
# ==========================
.DS_Store
Thumbs.db